<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rent A Car</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="cars">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="carlist">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="brandlist">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="colorlist">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colors</a>
      </li>
    </ul>
    <span class="my-2 my-lg-0">
      <app-cart-summary></app-cart-summary>
    </span>
  </div>
</nav>
